<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 sidebar">
      <!--Sidebar content-->
      <ul class="nav nav-list affix">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Find</a></li>
        <li><a href="#">Statistics</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Networks</a></li>
        <li><a href="#">Campaigns</a></li>
      </ul>
    </div>
    <div class="span10">
      <!--Body content-->
      <h1>Hello world</h1>
    </div>
  </div>
</div>