<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1 sidebar">
      <!--Sidebar content-->
      <ul class="nav nav-list affix">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Find</a></li>
        <li><a href="#">Statistics</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Networks</a></li>
        <li><a href="#">Campaigns</a></li>
      </ul>
    </div>
    <div class="span7 main-content">
      <div class="notifications">
        <p>Notifications</p>
        <div>Update Your Profile</div>
        <div>New Mobile App available</div>
        <div>New Channel Matches available. Click to Review!</div>
        <div>Re-Connect to YouTube, your token has expired.</div>
        <div>New Channel Matches available. Click to Review!</div>
      </div>
      <div class="stats">
        <p>Stats</p>
        <div class="stats-youtube">
          <div>
            <span>YouTube</span>
          </div>
          <div>
            <span>Views:</span>
            <span>1,204,443</span>
            <br>
            <span>+2,307</span>
          </div>
          <div>
            <span>Subscribers:</span>
            <span>1,430</span>
            <br>
            <span>+37</span>
          </div>
        </div>
        <div class="stats-twitter">
          <div>
            <span>Twitter</span>
          </div>
          <div>
            <span>Tweets:</span>
            <span>3,220</span>
            <br>
            <span>+12</span>
          </div>
          <div>
            <span>Followers:</span>
            <span>540</span>
            <br>
            <span>-2</span>
          </div>
        </div>
        <div class="stats-facebook">
          <div>
            <span>Facebook</span>
          </div>
          <div>
            <span>Shares:</span>
            <span>385</span>
            <br>
            <span>+5</span>
          </div>
          <div>
            <span>Likes:</span>
            <span>994</span>
            <br>
            <span>+15</span>
          </div>
        </div>
      </div>
    </div>
    <div class="span4 side-content">
      <div class="recommendations">
        <p>Recommendations</p>
        <p>You could work with...</p>
      </div>
    </div>
  </div>
</div>