/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  width: 100%;
  height: 100%;
  position: absolute;
}

.profile-image img {
  width: 40px;
  height: auto;
}

.nav-list {
  border-width: 1px;
  border-style: solid;
  height: 80%;
  text-align: center;
}

.main-content div,
.side-content div {
  width: 100%;
}

.notifications,
.notifications div,
.stats {
  margin-bottom: 1%;
  border-width: 1px;
  border-style: solid;
}

.stats div {
  margin-bottom: 1%;
}

.recommendations,
.recommendation-summary {
  border-width: 1px;
  border-style: solid;
}

.notifications div {
  width: 98%;
  margin: 0 auto;
  margin-bottom: 1%;
  padding: 1%;
}

.stats-youtube,
.stats-twitter,
.stats-facebook {
  width: 100%;
}

.stats-youtube div,
.stats-twitter div,
.stats-facebook div {
  width: 32.333333%;
  display: inline-block;
  margin: 0;
  text-align: right;
}

.recommendations {
  width: 100%;
  text-align: center;
}

.recommendations p:first-child {
  text-align: left;
}

.recommendation-summary {
  /*margin: 1%;*/
  width: 90%;
}

.recommendation-summary div {
  width: 29.333333%;
  height: 100%;
  display: inline-block;
  margin: 1%;
}

.recommendations img {
  width: 50%;
  height: auto;
}

.notify-new-matches {
  background-color: rgb(167, 245, 167);
}

.notify-update-profile {
  background-color: rgb(255, 200, 210);
}

.notify-mobile {
  background-color: rgb(159, 159, 252);
}

.notify-reconnect {
  background-color: rgb(248, 248, 146);
}

.pop-up {
  background-color: white;
  width: 30%;
  height: 30%;
  z-index: 1;
  float: right;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  margin-bottom: 40%;
}